.self-image{
height:auto;
width:240px;
margin:0px 20px;
position:absolute;
left:10px;
top: 100px;
}

body{
	background-image:url('../background.jpg');
	background-color:#EEE685;
}

ul,li,p,h1,h2,.name,.textbox,.lead_item,.sub_item,.current,.nolist,#map_header{
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: medium; 
    color: black;
}

p{
	text-indent:50px;
}

.example_text{
	margin:20px;
}

.name{
	font-size:large;
	color: black;
	top:10px;
	left:35px;
	font-size:30px;
	position:relative;
}

.textbox{
	height:auto;
	width:500px;
	margin:0px 50px;
}

.textbox_small{
	height:auto;
	width:400px;
	margin:0px 50px;
	text-indent:0px;
}

.link_example{
	left:80px;
	position:relative;
}

.lead_item{
	font-weight:500;
	text-decoration:underline;
	list-style-type:none;
}


.sub_item{
	text-indent:50px;
	list-style-type:none;
}

.current{
	color:red;
}

.nolist{
	list-style-type:none;
}

.link_index{
	margin:10px;
	position:relative;
	float: left;
	top: 355px;
	left:10px;
}

.link_bio,.link_resume{
	margin:10px;
	position:relative;
	float: left;
	bottom: 10px;
	left:40px;
}

.link_resume{
	bottom: 20px;
}

.headerbox{
	width:100%;
	height:75px;
	background-color:#CC9900;
	margin:0px;
	position:absolute;
	top:0px;
	left:0px;
}


/* Absolutely necessary for Google Maps version 3 */
html {
	height: 100%;
}

/* Absolutely necessary for Google Maps version 3 */
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map_canvas {
	width: 100%;
	height: 90%;
	position:relative;
	left:0px;
	top:10px;
}
#map_header{
	width: 50%;
	height: 80%;
	position:absolute;
	left:400px;
	top:75px;
}