.self-image{
height:auto;
width:240px;
}

body{
	background-image:url('../background.jpg');
	background-color:#00CCCC;
}

ul,li,p,h1,h2,.name,.textbox,.lead_item,.sub_item,.current,.nolist{
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: medium; 
    color: black;
}

p{
	text-indent:50px;
}

.name{
	font-size:large;
	color: black;
}
.textbox{
	height:auto;
	width:400px;
	margin:0px 50px;
}

.lead_item{
	font-weight:500;
	text-decoration:underline;
	list-style-type:none;
}


.sub_item{
	text-indent:50px;
	list-style-type:none;
}

.current{
	color:red;
}

.nolist{
	list-style-type:none;
}