.self-image{
height:auto;
width:80%;
margin:10px;
}


body{
	background-color:#00CCCC;
}

ul,li,p,h1,h2,.name,.textbox,.lead_item,.sub_item,.current,.nolist{
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: medium; 
    color: black;
}


.textbox{
	height:auto;
	width:200px;
	margin:0px;
}

.name{
	font-size:large;
}

.lead_item{
	font-weight:500;
	text-decoration:underline;
	list-style-type:none;
}


.sub_item{
	text-indent:5%;
	list-style-type:none;
}

.current{
	color:orange;
}

.nolist{
	list-style-type:none;
}